 .color-picker {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 200px;
     width: 200px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }
 .color-picker {
     background-color: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
     color: black;
 }
 .color-info {
     margin-top: 20px;
 }
