#draghtml {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: left;
  border: 1px solid #d3d3d3;
  color: black;
  width: 75px;
}

#draghtmlheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: black;
  width: 75px;
}

#dragcss {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: left;
  border: 1px solid #d3d3d3;
  color: black;
  width: 75px;
}

#dragcssheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: black;
  width: 75px;
}

#dragjs {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: left;
  border: 1px solid #d3d3d3;
  color: black;
  width: 75px;
}

#dragjsheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: black;
  width: 75px;
}

#dragpy {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: left;
  border: 1px solid #d3d3d3;
  color: black;
  width: 75px;
}

#dragpyheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: black;
  width: 75px;
}

#dragjson {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: left;
  border: 1px solid #d3d3d3;
  color: black;
  width: 75px;
}

#dragjsonheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: black;
  width: 75px;
}