body {
  background-color: #00012d;
  text-align: center;
  color: #00ffdd;
  text-shadow: #00ffdd;
}

#enter-button {
  background-color: #00ffdd;
  color: #00012d;
  box-shadow: 0px 0px 20px 10px #00ffdd;
  height: 30px;
  width: 60px;
  border: #00ffdd;
  border-radius: 5px;
}

#enter-button:hover {
  animation-name: flip-over;
  animation-duration: 4s;
}

.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #010239;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar li a {
  display: block;
  color: #00ffdd;
  padding: 8px 16px;
  text-decoration: none;
}

.sidebar li a.active {
  background-color: #001a4f;
  color: #00ffdd;
}

.sidebar li a:hover:not(.active) {
  background-color: #131432;
  color: #00ffdd;
}

@keyframes flip-over {
  0%   {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}
