body {
  background-color: #00012d;
}

.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #010239;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.sidebar li a.active {
  background-color: #001a4f;
  color: white;
}

.sidebar li a:hover:not(.active) {
  background-color: #131432;
  color: white;
}