body {
  background-color: #00012d;
  text-align: center;
  color: #00ffdd;
  text-shadow: 0px 0px 20px 10px #00ffdd;
}

#enter-button {
  background-color: #00ffdd;
  color: #00012d;
  box-shadow: 0px 0px 20px 5px #00ffdd;
  height: 30px;
  width: 60px;
  border: #00ffdd;
  border-radius: 5px;
}

#enter-button:hover {
  animation-name: flip-over;
  animation-duration: 4s;
  cursor: pointer;
}

@keyframes flip-over {
  0%   {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}